/*----- Variables -----*/

$fontDefault: 'Roboto Mono', monospace;

$colorWhite: #fafafa;
$colorLightGrey: #808080;
$colorDarkGrey: #4a4a4a;
$colorDarkerGrey: #2a2a2a;
$colorDarkestGrey: #232323;
$colorBlack: #1b1b1b;
$colorOrange: #DB9450;
$colorGreen: #32926A;

$colorBorder: $colorDarkerGrey;
$colorScrollbar: $colorDarkestGrey;
$colorScrollbarHover: $colorDarkerGrey;
$colorUserNick: $colorOrange;
$colorSystemNick: $colorGreen;

$padding: 30px;
$scrollbarPadding: 7px;
$widthBuddylist: 260px;
$heightMessageForm: 120px;
$widthMessageMeta: 170px;



/*----- Base -----*/

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background: $colorBlack;
	color: $colorWhite;
	font-family: $fontDefault;
	font-size: 13px;
	line-height: 1.4em;
}

a:link, a:visited, a:hover, a:active {
	color: $colorWhite;
	text-decoration: underline;
}



/*----- Chat ----------------------------
	
 	LAYOUT:

	[ Body: Messages ][ Body: Buddylist ]
	[       Footer: Message Form        ]

-----------------------------------------*/


.Chat {

	display: flex;
	flex-direction: column;
	height: 100vh;


	/*-----	Body -----*/

	&-body {
		display: flex;
		flex: 1;

		
		/*----- Messages -----*/

		&-messages {
			flex: 1;
			margin: $scrollbarPadding $scrollbarPadding $scrollbarPadding 0;
			padding: ($padding - $scrollbarPadding) $padding;
			overflow-y: auto;

			$widthScrollBar: 7px;

			&::-webkit-scrollbar-button { 
				display: none; 
			} 

			&::-webkit-scrollbar-button:hover { 
				display: none;
			} 

			&::-webkit-scrollbar-thumb { 
				background-color: $colorScrollbar; 
				box-shadow: none; 
				border-radius: $widthScrollBar;
			} 

			&::-webkit-scrollbar-thumb:hover { 
				background-color: $colorScrollbarHover; 
				box-shadow: none; 
				border-radius: $widthScrollBar;
			} 

			&::-webkit-scrollbar-track { 
				background-color: transparent; 
				box-shadow: none; 
				border-radius: $widthScrollBar; 
			} 

			&::-webkit-scrollbar-track:hover { 
				background-color: transparent; 
				box-shadow: none; 
				border-radius: $widthScrollBar; 
			} 

			&::-webkit-scrollbar { 
				width: $widthScrollBar; 
			}
			
			&-list {
				list-style-type: none;
				margin: 0;
				padding: 0;
				overflow: hidden;

				&-item {
					display: flex;
					margin: 0;
					padding: 0;
					overflow: hidden; 

					&-meta {
						display: flex;
						flex-shrink: 0;
						justify-content: space-between;
						align-items: baseline;
						width: $widthMessageMeta;
		
						&-timestamp {
							color: $colorDarkGrey;
							font-size: 0.75em;
						}
			
						&-nick {
							opacity: 0.7;
							color: $colorUserNick;
		
							&:before {
								content:'<';
							}
				
							&:after {
								content:'>';
							}
						}
					}
		
					&-body {
						flex: 1;
						opacity: 0.7;
						padding-left: $padding/2;

						&-splashScreenMessage {
							font-family: $fontDefault;
							margin: 0;
						}
					}
				}

				.is-system-message &-item {
					&-meta {
						&-nick {
							opacity: 1;
							color: $colorSystemNick;
						}
					}

					&-body {
						opacity: 1;
						color: $colorLightGrey;
					}
				}

				.is-active-message &-item {
					&-meta-nick,
					&-body {
						opacity: 1;
					}
				}
			}
		}



		/*----- Buddylist -----*/

		&-buddylist {
			flex-shrink: 0;
			list-style-type: none;
			width: $widthBuddylist;
			margin: 0;
			padding: $padding;
			border-left: 1px solid $colorBorder;

			&-item {
				&.is-away {
					opacity: 0.5;
					font-style: italic;
				}

				&.is-me {
					cursor: pointer;
				}

				&.is-me &-nick {
					&:before {
						content: '^';
					}
				}
			}
		}
	}


	/*-----	Footer -----*/

	&-footer {
		display: flex;
		flex-shrink: 0;
		height: $heightMessageForm;
		border-top: 1px solid $colorBorder;


		/*----- Message Form -----*/

		&-messageForm {
			display: flex;
			width: 100%;
	
			input {
				width: 100%;
				padding: 0 $padding;
				background: $colorBlack;
				border: none;
				color: $colorWhite;
				font-family: $fontDefault;
				font-size: inherit;
				outline: 0;
				transition: background-color 250ms ease-out;

				&:hover {
					background: rgba($colorDarkestGrey, 0.7);
				}
			}
		
			input::-webkit-input-placeholder { color: $colorDarkGrey; }
			input:-moz-placeholder { color: $colorDarkGrey; }
			input::-moz-placeholder { color: $colorDarkGrey; }
			input:-ms-input-placeholder { color: $colorDarkGrey; }
		}
	}


	/*----- Nick Dialog -----*/

	&-nickDialog {
		position: absolute;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		form {
			width: 300px;
			padding: $padding*2;
			background: rgba($colorBlack, 0.85);
			border: 1px solid $colorGreen;
			text-align: center;

			input {
				background: $colorBlack;
				color: $colorWhite;
				padding: 10px;
				border: none;
				border-bottom: 1px dotted $colorGreen;
				font-family: $fontDefault;
				font-size: inherit;
				outline: 0;
			}
		
			input::-webkit-input-placeholder { color: $colorLightGrey; }
			input:-moz-placeholder { color: $colorLightGrey; }
			input::-moz-placeholder { color: $colorLightGrey; }
			input::-ms-input-placeholder { color: $colorLightGrey; }
		
			button {
				display: inline-block;
				margin: $padding 0 0 $padding;
				padding: 5px 15px;
				background: $colorLightGrey;
				color: $colorDarkerGrey;
				font-family: $fontDefault;
				text-align: center;
				text-decoration: none;
			}
		
			button[type=submit] {
				margin-left: 0;
				background: $colorGreen;
			}
		}
	}
}